.App {
  text-align: center;
}

/* Header */
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 10vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: white;
  position: relative;
}

.App-header img {
  width: 100px;
  height: 100px;
}

nav {
  min-height: 40px;
  text-align: left;
  position: absolute;
  top: 10px;
}

nav ul {
  list-style-type: none;
}

nav li {
  display: inline-block;
}

nav a {
  color: #61dafb;
  text-decoration: none;
}

nav a:hover {
  opacity: 0.5;
}

nav li:first-child {
  margin-left: 75px;
  margin-right: 35px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Main */
main {
  margin: 10px 0 10px 0;
  font-family: 'Courier New', Courier, monospace;
}

.album-content {
  overflow: hidden;
}

.album-content h4, .album-content p {
  margin: 0;
}

.album-content img {
  padding-bottom: 10px;
}

picture {
  margin: 10px;
  position: relative;
}

.albums-list picture p {
  opacity: 0;
  display: inline;
  position: absolute;
  bottom: 5px;
  left: 0px;
  right: 0px;
  margin: 0;
  text-align: center;
  overflow-wrap: break-word;
  word-break: break-all;
  font-size: 0.8em;
}

.albums-list picture:hover p {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.5);
  color: mistyrose;
}

.albums-list picture p span { 
  font-size: 140%;
  font-weight: bold;
}

/* Footer */
footer {
  background-color: #333;
  width: 100%;
  bottom: 0;
  position: fixed;
  line-height: 1.8em;
}

footer div {
  color: mistyrose;
  font-size: 12px;
  vertical-align: middle;
}

footer div a {
  text-decoration: none;
  color: inherit;
}

.left-side {
  float: left;
  background-color: inherit;
  padding-left: 10px;
}

.right-side {
  float: right;
}

.right-side div {
  display: inline-block;
  margin-right: 10px;
}
